{% extends "base.html" %}

{% block content %}

<h3>{{ title }}</h3>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<form method="post">
    {% csrf_token %}

    {% bootstrap_form form %}

    <input type="Submit" value="Submit">
    <input value="Cancel" type="button" onclick="location.href='{% url "tracker" tracker.id %}';" />
    {% if object %}
    <input value="Delete this data" type="button"
        onclick=" location.href='{% url "data-delete" tracker.id object.id %}' ">
    {% endif %}
</form>

{% endblock %}