{% extends "base.html" %}

{% block content %}

<div>
    <div>
        <ul>
            {% if items %}
            <h5> {{tracker.title}} </h5>

            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                    {% for data in items %}
                  <tr>
                    <td>{{data.date}}</td>
                    <td>{{data.amount}}</td>
                    <td>{{data.description | truncatechars:30 }}</td>
                    <td>{{data.description | truncatechars:30 }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            <div class="container-fluid"><div class="header-body"><div class="row align-items-center py-4">
              <div class="col-lg-6 col-7"><nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4"></nav></div><div class="col-lg-6 col-5 text-right">
                    <button id="week" class="btn btn btn-neutral">This Week</button>
                    <button id="month" class="btn btn btn-neutral">This Month</button>
                    <button id="year" class="btn btn btn-neutral">This Year</button>
                  </div></div></div></div>

                  <div class="chart-container" style="position: relative; height:500px; width: 1000px;">
      
                    <canvas id="myChart" class="chart-canvas chartjs-render-monitor" width="1000" height="500"></canvas>
                    
          {% else %}<h5 class="h3 text-white mb-0 text-center">Add data <a href=>one</a></h5>{% endif %}
          <h5 style="display: none;" id="no-results" class="h3 text-danger mt-5 mb-0 text-center">No expenses found for searched item.</h5>
      </div>
      <input value="Add a new data" type="button" onclick="location.href='{% url "data-add" tracker.id %}'" />
<input value="Delete this tracker" type="button"
      onclick="location.href='{% url "tracker-delete" tracker.id %}'" />
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>

<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var amount = [{% for elem in data %} '{{elem}}',  {% endfor %}] 
  var labels =  [{% for label in labels %} '{{label}}',  {% endfor %}]


  var colors = ['rgba(208, 232, 180, 0.8)', 'rgba(232, 180, 207, 0.8)']; 
  window.onload = function() {
    var bgColors = [];
    for (var i = 0; i < amount.length; i++) {
      bgColors.push(colors[i % colors.length]);  
    }
  
  console.log("Dane:")
  console.log(amount)
  console.log("Labels:")
  console.log(labels)
  window.myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Sleep amount [h]',
                    data: amount,
                    backgroundColor: bgColors,
                }]
            },
            options: {
              ticks: {
                autoSkip: false,
                maxRotation: 200,
                minRotation: 200
            },
              responsive: true,

            scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
        }
    }]
              }
            }
        });  }
</script>

{% endblock %}