{% extends "base.html" %}

{% block content %}
<!--contacts.html-->
{% if trackers %}
<h3>My trackers</h3>
{% endif %}
<ul class="list-group list-group-flush">
    {% for tracker in trackers %}
    <li class="list-group-item">
        <div role="button"
            onclick="location.href='{% url "tracker" tracker.id %}'">
            {{ tracker.title }}
        </div>
    </li>
    {% empty %}
    <h4>You have no trackers!</h4>
    {% endfor %}
</ul>
<p>
    <br>
    <a href='{% url "tracker-add" %}' class="btn btn-primary btn-lg" 
    role="button" aria-pressed="true">Add a new tracker</a>

</p>

<a href='{% url "tasks" %}' class="btn btn-secondary btn-lg active" 
style="background-color:rgb(194, 44, 14);color:white
role="button" aria-pressed="true">Back</a>
{% endblock %}