{% extends "base.html" %}

{% block content %}

<div>
    <div>
        <div>
            <h5>{{ tracker.title}}</h5>
        </div>
        <ul>

            {% if items %}
            <h5 {{tracker.title}} ></h5>
            <div class="app-table mt-5">

              <table id="table-complete" class="table text-white">
                <thead><tr><th style="font-size: small;"><span class="row">Amount<span class="col"><div class="mb-1 arrow-up" id="amount_up">

                </div><div class="arrow-down" id="amount_down"></div></span> </span></th>
                <th style="font-size: small;">Description </th><th style="font-size: small;"><span class="row ml-1"> Date <span class="col">
                    <div class="mb-1 arrow-up" id="date_up"></div><div class="arrow-down" id="date_down"></div></th><th style="font-size: small;">Action</th>
                </tr></thead>
                <tbody id="table-body-data" >{% for data in items %}<tr><td>{{data.amount}}</td>
                    <td>{{data.description | truncatechars:30 }}</td><td>{{data.date}}</td><td>Edit</a></td></tr>{% endfor %}</tbody>
              </table>
            </div>


            <div class="container-fluid"><div class="header-body"><div class="row align-items-center py-4">
              <div class="col-lg-6 col-7"><nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4"></nav></div><div class="col-lg-6 col-5 text-right">
                    <button id="week" class="btn btn btn-neutral">This Week</button>
                    <button id="month" class="btn btn btn-neutral">This Month</button>
                    <button id="year" class="btn btn btn-neutral">This Year</button>
                  </div></div></div></div></div>

                  <div class="chart-container" style="position: relative; height:500px; width: 1000px;">
      
                    <canvas id="myChart" class="chart-canvas chartjs-render-monitor" width="1000" height="500"></canvas>
                    
          {% else %}<h5 class="h3 text-white mb-0 text-center">Add data <a href=>one</a></h5>{% endif %}
          <h5 style="display: none;" id="no-results" class="h3 text-danger mt-5 mb-0 text-center">No expenses found for searched item.</h5>
      </div>
      <input value="Add a new data" type="button" onclick="location.href='{% url "data-add" tracker.id %}'" />
<input value="Delete this tracker" type="button"
      onclick="location.href='{% url "tracker-delete" tracker.id %}'" />
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>

<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var data = '{{data}}'
  var labels =  [{% for label in labels %} '{{label}}' ,  {% endfor %}]
  console.log(data)
  // console.log(labels)
  let myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Sleep amount [h]',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.8)',
                        'rgba(75, 192, 192, 0.8)',
                        'rgba(153, 102, 255, 0.8)',
                        'rgba(255, 159, 64, 0.8)',
                        'rgba(240, 120, 50, 0.8)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(240, 120, 50, 1)',

                    ],
                    
                    
                }]
            },
            options: {
              ticks: {
                autoSkip: false,
                maxRotation: 200,
                minRotation: 200
            },
              responsive: true,

            scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
        }
    }]


              }
            }
        });
</script>

{% endblock %}