{% extends "base.html" %}

{% block content %}
<br>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        Task details:
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Task: {{task}}</li>
        <li class="list-group-item">Task description: {{task.description}}</li>
        <li class="list-group-item">Task complete: {{task.complete}}</li>
      </ul>
    </div>

<a href='{% url "tasks" %}' class="btn btn-secondary btn-lg active" 
style="background-color:rgb(194, 44, 14);color:white
role="button" aria-pressed="true">Back</a>
{% endblock %}
