

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Planner</title>


{% extends "base.html" %}
  </head>

  <div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
    </div>

</div>

<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
</div>


{% block content %}
  <body>

    <div class="container-fluid">
        <div class="row h-100">
          <div class="row row-first h-50 ">

            <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Monday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='M' %}">Add Task</a>

                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'M' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>


                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>

              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Tuesday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='T' %}">Add Task</a>

                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'T' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>

              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Wednesday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='W' %}">Add Task</a>

                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'W' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>


              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Thursday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='Th' %}">Add Task</a>

                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'Th' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row row-second h-50 ">

              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Friday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='F' %}">Add Task</a>

                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'F' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>



              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Saturday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='Sa' %}">Add Task</a>

                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'Sa' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>

              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Sunday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='Su' %}">Add Task</a>

                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'Su' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>


            <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Something
                </div>
                  <div class="card-body">
                    <button><a href="{% url 'index' %}">My shopping lists</a></button>
                    <button><a href="{% url 'trackers' %}">Trackers</a></button>
                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>

</div>


</div>
</div>
  </body>
  {% endblock %}
</html>

