<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap" rel="stylesheet">

    <title>Planner</title>

<style>
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Xanh Mono', monospace;
}

.title{
  word-wrap: break-word;
  width: 150px;

}

.container-fluid {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.row-first {
    padding-bottom: 5px;
}

.card.h-100{
    min-width: 20rem;
    background-color:rgb(168, 212, 212);
    margin-top: 2rem;
    width: auto;
    max-width: 100%;
}

.card-body{
    background-color: rgb(209, 230, 236);
} 

.task{
    position: relative;
    display: flex;
    right: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px lightgrey; 
    padding: 0.5rem;
}

a{
  text-decoration: none;
  color: rgb(46, 82, 82);
}

</style>

  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>

    </div>
  </nav>
  <body>

    <div class="container-fluid">
        <div class="row h-100">
          <div class="row row-first h-50 ">



            <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Monday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='M' %}">Add Task</a>
                    
                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'M' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>


                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>

              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Tuesday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='T' %}">Add Task</a> 
                    
                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'T' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>

              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Wednesday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='W' %}">Add Task</a>
                    
                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'W' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>


              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Thursday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='Th' %}">Add Task</a>
                    
                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'Th' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row row-second h-50 ">      
 
              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Friday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='F' %}">Add Task</a>
                    
                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'F' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>



              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Saturday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='Sa' %}">Add Task</a>
                    
                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'Sa' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div>

              <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Sunday
                </div>
                  <div class="card-body">

                    <a href="{% url 'task-create' day='Su' %}">Add Task</a>
                    
                    <table>
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        {% for task in object_list %}
                        {% if task.day == 'Su' %}
                        <tr class = 'task'>
                            <td class="title">{{task.title}}</td>
                            <td><a href="{% url 'task' task.id %}">View</a></td>
                            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <h3>
                            No items in list
                        </h3>
                        {% endfor %}
                    </table>

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div> 


            <div class="col">
              <div class="card h-100">
                <div class="card-header text-dark bg-light text-center text-uppercase">
                 Something
                </div>
                  <div class="card-body">

                    <p class="card-text w-100 h-100" style="border: none; resize: none;">

                    </p>
                  </div>
              </div>
            </div> 

</div>


</div>
</div>



<!--    &lt;!&ndash; Optional JavaScript; choose one of the two! &ndash;&gt;-->

     <!-- &lt;!&ndash; Option 1: Bootstrap Bundle with Popper &ndash;&gt;
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->

<!--    &lt;!&ndash; Option 2: Separate Popper and Bootstrap JS &ndash;&gt;-->
<!--    &lt;!&ndash;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>-->
<!--    &ndash;&gt;-->
  </body>
</html>