<!-- todo_list/todo_app/templates/todo_app/contacts.html -->
{% extends "base.html" %}

{% block content %}
<!--contacts.html-->
{% if object_list %}
<h3>All my lists</h3>
{% endif %}
<ul>
    {% for shopping_list in object_list %}
    <li>
        <div role="button"
            onclick="location.href='{% url "list" shopping_list.id %}'">
            {{ shopping_list.title }}
        </div>
    </li>
    {% empty %}
    <h4>You have no lists!</h4>
    {% endfor %}
</ul>
<p>
    <input value="Add a new list" type="button"
        onclick="location.href='{% url "list-add" %}'" />
</p>

{% endblock %}